<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ksmart.project.test26.service.CityMapper">
	<select id="selectCityList" resultType="ksmart.project.test26.service.City">
		SELECT
		city_id as city_id
		,city_name as city_name
		FROM city;
	</select>

	<!-- city selectone -->
	<select id="selectCityOne" resultType="ksmart.project.test26.service.City"
		parameterType="int">
		SELECT city_id as city_id
		,city_name as city_name
		FROM city
		where city_id = #{city_id}
	</select>

	<!-- city insert -->
	<insert id="insertCityName" parameterType="ksmart.project.test26.service.City">
		INSERT INTO
		city(city_name)
		VALUES (#{city_name})
	</insert>

	<!-- city update -->
	<update id="updateCityName" parameterType="ksmart.project.test26.service.City">
		UPDATE city
		SET
		city_name = #{city_name}
		WHERE city_id = #{city_id}
	</update>

	<!-- city delete -->
	<delete id="deleteCityName" parameterType="ksmart.project.test26.service.City">
		DELETE FROM city
		WHERE
		city_id = #{city_id}
	</delete>
</mapper>