<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="ksmart.project.test26.service.CityMapper">
<!-- 도시 전체 list 출력 -->
	<select id="selectCityList"
			resultType="ksmart.project.test26.service.City">
		SELECT 
			city_id as cityId
			,city_name as cityName
		FROM city;
	</select>
<!-- 도시 목록 추가 하기 -->	
	<insert id="insertCity"
			parameterType="ksmart.project.test26.service.City">
		INSERT INTO city(
		city_name
		)
		VALUES(
		#{cityName}
		)			
	</insert>
<!-- 도시 한개 선택하기 -->
	<select id="selectCity"
			parameterType="int"
			resultType="ksmart.project.test26.service.City">
		SELECT
			city_id as cityId
			,city_name as cityName
		FROM city
		WHERE city_id = #{cityId}			
	</select>
<!-- 도시 수정 하기 -->
	<update id="updateCity"
			parameterType="ksmart.project.test26.service.City">
		UPDATE city
			SET city_name = #{cityName}
		WHERE city_id = #{cityId}		
	</update>
<!-- 도시 삭제 하기 -->
	<delete id="deleteCity"
			parameterType="ksmart.project.test26.service.City">
		DELETE FROM city
		WHERE city_id = #{cityId}				
	</delete>
	
</mapper>
