<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="ksmart.project.test26.service.CountryMapper">
  		<!-- countryList view에서 사용하는 select쿼리문 -->  	
 		<select id="selectCountryList"
			resultType="ksmart.project.test26.service.Country">
			SELECT 
				country_id as countryId
				,country_name as countryName
			FROM country;
		</select>
		
		<!-- countryInsertForm에서 입력받은 값을 action처리할때 사용할 쿼리문 -->
		<insert id="insertConuntryName" parameterType="ksmart.project.test26.service.Country">
			INSERT INTO country(country_name)
				VALUES (#{countryName})		
		</insert>
		
		<!-- countryUpdateForm에서 입력받은값을 action처리할때 사용할 쿼리문 -->
		<update id="updateConuntryName" parameterType="ksmart.project.test26.service.Country">
	        UPDATE country 
	            SET country_name = #{countryName} 
	        WHERE country_id = #{countryId}     
	    </update>
	    
	    <!-- countryList에서 삭제 버튼을 눌렀을시 action처리할때 쓰이는 쿼리문 -->
	    <delete id="deleteConuntryName" parameterType="ksmart.project.test26.service.Country">
	        DELETE FROM country 
	        WHERE country_id = #{countryId} 
	    </delete>
		
  </mapper>