<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="ksmart.project.test26.service.CountryMapper">
  
  		<!-- 전체 테이터 행의 수를 구하는 쿼리문 -->
  		<select id="countrySelectCount"
  				resultType="int">
  			SELECT 
  				count(*) 
  			FROM country
  		</select>
  		
  		<!-- 페이징에 필요한 리스트를 생성하는 쿼리문 -->
  		<select id="countrySelectPage"
  				parameterType="java.util.Map"
  				resultType="ksmart.project.test26.service.Country">
  			SELECT 
  				country_id AS countryId,
  				country_name AS countryName
  			FROM country
  			<if test="searchWord != null">
  				WHERE country_name LIKE CONCAT('%',#{searchWord},'%')
  			</if>
  			ORDER BY countryId
  			LIMIT #{startRow}, #{rowPerPage} 		
  		</select>
  
  		<!-- countryList view에서 사용하는 select쿼리문 -->  	
 		<select id="countrySelcetList"
				resultType="ksmart.project.test26.service.Country">
			SELECT 
				country_id as countryId
				,country_name as countryName
			FROM country
		</select>
		
		<!-- updateCountryForm으로 요청때 하나의 country객체만을 select할때 사용하는 쿼리문 -->
		<select id="countrySelectOne"
				parameterType="int"
				resultType="ksmart.project.test26.service.Country">
			SELECT 
				country_id as countryId
				,country_name as countryName
			FROM country
			WHERE country_id = #{country_id}
		</select>
		
		<!-- countryInsertForm에서 입력받은 값을 action처리할때 사용할 쿼리문 -->
		<insert id="countryInsert" 
				parameterType="ksmart.project.test26.service.Country">
			INSERT INTO country(country_name)
				VALUES (#{countryName})		
		</insert>
		
		<!-- countryUpdateForm에서 입력받은값을 action처리할때 사용할 쿼리문 -->
		<update id="countryUpdate" 
				parameterType="ksmart.project.test26.service.Country">
	        UPDATE country 
	            SET country_name = #{countryName} 
	        WHERE country_id = #{countryId}     
	    </update>
	    
	    <!-- countryList에서 삭제 버튼을 눌렀을시 action처리할때 쓰이는 쿼리문 -->
	    <delete id="countryDelete" 
	    		parameterType="ksmart.project.test26.service.Country">
	        DELETE FROM country 
	        WHERE country_id = #{countryId} 
	    </delete>
		
  </mapper>