<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="ksmart.project.test26.service.IdolMapper">
  
 		<resultMap type="ksmart.project.test26.service.IdolAndIdolFile"
				id="IdolAndIdolFileMap">
		<id column="idol_id" property="idolId" />
		<result column="idol_name" property="idolName" />
			<collection property="list"			ofType="ksmart.project.test26.service.IdolFile">
				<id column="idol_file_id" property="idolFileId"/>
				<result column="file_name" property="idolFileName"/>
				<result column="file_ext" property="idolFileExt"/>
				<result column="file_size" property="idolFileSize"/>
			</collection>
		</resultMap>
		<select id="idolAndIdolFileMap" parameterType="int" resultMap="IdolAndIdolFileMap">
				SELECT 
					a.idol_id 
					,a.idol_name 
					,f.idol_file_id 
					,f.file_name
					,f.file_ext 
					,f.file_size 
				FROM idol a INNER JOIN idol_file f 
				ON a.idol_id = f.idol_id 
				WHERE a.idol_id = #{idolId} 
		</select>	
  		<!-- 전체 테이터 행의 수를 구하는 쿼리문 -->
  		<select id="idolSelectCount"
  				resultType="int">
  			SELECT 
  				COUNT(*) 
  			FROM idol
  		</select>
  		
  		<!-- 페이징에 필요한 리스트를 생성하는 쿼리문 + 상세검색 -->
  		<select id="idolSelectPage"
  				parameterType="java.util.Map"
  				resultType="ksmart.project.test26.service.Idol">
  			SELECT 
  				idol_id AS idolId,
  				idol_name AS idolName
  			FROM idol
  			<if test="searchWord != null">
  				WHERE idol_name LIKE CONCAT('%',#{searchWord},'%')
  			</if>
  			ORDER BY idolId
  			LIMIT #{startRow}, #{rowPerPage} 		
  		</select>
  		
  		<!-- idolList view에서 사용하는 select쿼리문 -->  	
 		<select id="idolSelectList"
			resultType="ksmart.project.test26.service.Idol">
			SELECT 
				idol_id as idolId
				,idol_name as idolName
			FROM idol 
		</select>
		
		<!-- updateIdolForm으로 요청때 하나의 idol객체만을 select할때 사용하는 쿼리문 -->
		<select id="idolSelectOne" 
				parameterType="int"
				resultType="ksmart.project.test26.service.Idol">
			SELECT 
				idol_id as idolId
				,idol_name as idolName
			FROM idol
			WHERE idol_id = #{idol_id}
		</select>
		
		<!-- idolInsertForm에서 입력받은 값을 action처리할때 사용할 쿼리문 -->
		<insert id="idolInsert" 
				parameterType="ksmart.project.test26.service.IdolCommand">
			INSERT INTO idol(idol_name)
				VALUES (#{idolName})
			<selectKey keyProperty="idolId" resultType="int" order="AFTER">
			SELECT LAST_INSERT_ID()
			</selectKey>	
		</insert>
		
		<!-- idolInsertForm에서 추가시 같이 등록되는 파일처리 쿼리문 -->
		<insert id="idolInsertFile" parameterType="ksmart.project.test26.service.IdolFile">
			INSERT INTO idol_file
				(idol_id, file_name, file_ext, file_size)
				VALUES (#{idolId}, #{idolFileName}, #{idolFileExt}, #{idolFileSize})
		</insert>
		<!-- idolUpdateForm에서 입력받은값을 action처리할때 사용할 쿼리문 -->
		<update id="idolUpdate" 
				parameterType="ksmart.project.test26.service.Idol">
	        UPDATE idol 
	            SET idol_name = #{idolName} 
	        WHERE idol_id = #{idolId}     
	    </update>
	    
	    <!-- idolList에서 삭제 버튼을 눌렀을시 action처리할때 쓰이는 쿼리문 -->
	    <delete id="idolDelete" 
	    		parameterType="ksmart.project.test26.service.Idol">
	        DELETE FROM idol 
	        WHERE idol_id = #{idolId} 
	    </delete>
		
  </mapper>