<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="ksmart.project.test26.service.IdolMapper">
	<select id="selectIdolList"
			resultType="ksmart.project.test26.service.Idol">
		SELECT 
			idol_id as idolId
			,idol_name as idolName
		FROM idol;
	</select>
	
	<insert id="insertIdol" parameterType="ksmart.project.test26.service.Idol">
		INSERT INTO idol(
			idol_name
			)
			VALUES(
			#{idolName}
		)
	</insert>
</mapper>