<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

	<mapper namespace="ksmart.project.test26.service.CityMapper">
	
		<!--  cityDeleteCityFile 업로드된 파일 삭제처리 쿼리문 -->
		<delete id="cityDeleteCityFile">
			DELETE FROM city_file
			WHERE city_file_id = #{cityFileId}
		</delete>		
 
 		<!-- citySelectOneCityFile 업로드된 파일 조회 쿼리문 -->
 		<select id="citySelectOneCityFile" 
 				resultType="ksmart.project.test26.city.dto.CityFile">
 			SELECT 
 				city_file_id AS cityFileId
 				,city_id AS cityId
 				,file_name AS fileName
 				,file_ext AS fileExt
 				,file_size AS fileSize
 			FROM city_file
 			WHERE city_file_id = #{cityFileId}
 		
 		</select> 
 
 		<!-- Mapping 작업을 위한 쿼리문 -->
 		<select id="cityAndCityFileMap" parameterType="int"
				resultMap="CityAndCityFileMap">
			SELECT
				c.city_id 
				,c.city_name
				,f.city_file_id 
				,f.file_name
				,f.file_ext
				,f.file_size 
			FROM city c INNER JOIN city_file f
			ON c.city_id = f.city_id
			WHERE c.city_id = #{cityId}
		</select>

	<resultMap type="ksmart.project.test26.city.dto.CityAndCityFile"
				id="CityAndCityFileMap">
		<id column="city_id" property="cityId" />
		<result column="city_name" property="cityName" />
			<collection property="list"			ofType="ksmart.project.test26.city.dto.CityFile">
				<id column="city_file_id" property="cityFileId"/>
				<result column="file_name" property="fileName"/>
				<result column="file_ext" property="fileExt"/>
				<result column="file_size" property="fileSize"/>
			</collection>
		</resultMap>	
  	
  		<!-- cityList 전체 테이터 행의 수를 구하는 쿼리문 -->
  		<select id="citySelectCount"
  				resultType="int">
  			SELECT 
  				count(*) 
  			FROM city
  		</select>
  		
  		<!-- citySelectPage 페이징처리에 필요한 리스트를 생성하는 쿼리문 -->
  		<select id="citySelectPage"
  				parameterType="java.util.Map"
  				resultType="ksmart.project.test26.city.dto.City">
  			SELECT 
  				city_id AS cityId,
  				city_name AS cityName
  			FROM city
  			<if test="searchWord != null">
  				WHERE city_name LIKE CONCAT('%',#{searchWord},'%')
  			</if>
  			ORDER BY cityId
  			LIMIT #{startRow}, #{rowPerPage} 		
  		</select>
  
  		<!-- cityList view에서 사용하는 select쿼리문 -->  	
 		<select id="citySelcetList"
				resultType="ksmart.project.test26.city.dto.City">
			SELECT 
				city_id as cityId
				,city_name as cityName
			FROM city
		</select>
		
		<!-- updateCityForm으로 요청때 하나의 city객체만을 select할때 사용하는 쿼리문 -->
		<select id="citySelectOne"
				parameterType="int"
				resultType="ksmart.project.test26.city.dto.City">
			SELECT 
				city_id as cityId
				,city_name as cityName
			FROM city
			WHERE city_id = #{city_id}
		</select>
		
		<!-- cityInsertForm에서 입력받은 값을 action처리할때 사용할 쿼리문 -->
		<insert id="cityInsert" 
				parameterType="ksmart.project.test26.city.dto.City">
			INSERT INTO city(city_name)
				VALUES (#{cityName})	
			<selectKey keyProperty="cityId" resultType="int" order="AFTER">
				SELECT LAST_INSERT_ID()
			</selectKey>		
		</insert>
		
		<!-- cityInsertFile -->
		<insert id="cityInsertFile" 
  				parameterType="ksmart.project.test26.city.dto.CityFile">
	  		INSERT INTO city_file
	  			(city_id, file_name, file_ext, file_size)
	  		VALUES (#{cityId}, #{fileName}, #{fileExt}, #{fileSize})
  		</insert>
		
		<!-- citySelectListCityFile  -->
		<select id="citySelectListCityFile" 
				resultType="ksmart.project.test26.city.dto.CityFile">
			SELECT 
				city_file_id AS cityFileId
				,city_id AS cityId
				,file_name AS fileName
				,file_ext AS fileExt
				,file_size AS fileSize
			FROM city_file
			WHERE city_id = #{cityId}		
		</select>		
		
		<!-- cityUpdateForm에서 입력받은값을 action처리할때 사용할 쿼리문 -->
		<update id="cityUpdate" 
				parameterType="ksmart.project.test26.city.dto.City">
	        UPDATE city 
	            SET city_name = #{cityName} 
	        WHERE city_id = #{cityId}     
	    </update>
	    
	    <!-- cityList에서 삭제 버튼을 눌렀을시 action처리할때 쓰이는 쿼리문 -->
	    <delete id="cityDelete" 
	    		parameterType="ksmart.project.test26.city.dto.City">
	        DELETE FROM city 
	        WHERE city_id = #{cityId} 
	    </delete>
	    
	    <!-- cityList에서 삭제 버튼을 눌렀을시 action처리할때 쓰이는 쿼리문 -->
	    <delete id="cityDeleteFile" 
	    		parameterType="ksmart.project.test26.city.dto.CityFile">
	        DELETE FROM city_file 
	        WHERE city_file_id = #{cityFileId} 
	    </delete>
		
  </mapper>